@tailwind base;
@tailwind components;
@tailwind utilities;

.my-background {
  @apply bg-[rgb(6,3,69)] bg-[radial-gradient(circle,_rgba(6,3,69,1)_0%,_rgba(135,29,207,1)_49%,_rgba(59,36,190,1)_100%)]

}